*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}
body{
    background-image: url("./Assets/login.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}